
@mixin button-style {
  color: $white;
  background-color: $black;
  font-size:$midFont;
  border: 1px solid $white;
  border-radius: $borderRadius;
  padding: $paddingBtns;
  cursor:pointer;
  display: flex;
  align-items: center;
  svg {
    margin-left: 10px;
  }

  &:hover {
    background-color: $greenYellow;  // Change background color on hover
    color: $black;  // Change text color on hover
    border: 1px solid $black;  // Change border color on hover
  }
}
@mixin container-style {
  max-width: 1100px;
  margin: 0 auto;
}